﻿@using Web.Models
@model Web.Models.TimeTrackerViewModel

@{
    ViewData["Title"] = "Track time";
}

<h1>Track time</h1>
<div class="row">
    <section>
        @Html.ValidationSummary()
        @if (!Model.IsTrackingTime)
            {
                using (Html.BeginForm("Start", "TimeTracker", FormMethod.Post))
                {
                <div class="form-group">
                    @Html.LabelFor(x => x.Description)
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        <button type="submit" class="btn btn-default">Start</button>
                </div>
            }
        }
        else
        {
            using (Html.BeginForm("Stop", "TimeTracker", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(x => x.LastTrackingThreadId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Stop "@Model.LastTrackingThread.Description"</button>
                </div>
            }
            using (Html.BeginForm("Start", "TimeTracker", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(x => x.ParentThreadId)
                    @Html.LabelFor(x => x.Description)
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Start another under "@Model.LastTrackingThread.Description"</button>
                </div>
            }
        }
    </section>
</div>
@if (Model.IsTrackingTime)
{
    <div class="row">
        <section>
            <h4>Under tracking:</h4>
            <hr />
            <ul>
                @foreach (var thread in Model.TrackingThreads)
                {
                    string threadText = "";
                    if (thread.StoppedAt == null)
                    {
                        threadText = $"Description: \"{thread.Description}\" / From: {thread.StartedAt:hh:mm:ss}";
                    }
                    else
                    {
                        threadText = GetThreadTextWithDuration(thread);
                    }
                    <li style="margin-left: @(thread.LevelsDeep)cm">threadText</li>
                }
            </ul>
        </section>
    </div>
}
@if (Model.StoppedThreads.Any())
{
    <div class="row">
        <section>
            <h4>Stopped:</h4>
            <hr />
            <ul>
                @foreach (var thread in Model.StoppedThreads)
                {
                    <li style="margin-left: @(thread.LevelsDeep)cm">@GetThreadTextWithDuration(thread)</li>
                }
            </ul>
        </section>
    </div>
}

@functions {

    private static string GetThreadTextWithDuration(TimeThreadDto thread)
    {
        var duration = thread.StoppedAt.Value - thread.StartedAt;
        var threadText = $"Description: \"{thread.Description}\" / Duration: {duration:hh\\:mm\\:ss} / From: {thread.StartedAt:hh:mm:ss} To: {thread.StoppedAt.Value:hh:mm:ss}";
        return threadText;
    }
}